[submodule "addons/clojure-mode"]
	path = addons/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule "addons/auto-complete"]
	path = install/auto-complete
	url = http://cx4a.org/repo/auto-complete.git
[submodule "addons/emacs-color-theme-solarized"]
	path = themes/emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "addons/nyan-mode"]
	path = addons/nyan-mode
	url = https://github.com/TeMPOraL/nyan-mode.git
[submodule "addons/magit"]
	path = addons/magit
	url = https://github.com/magit/magit.git
